<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<!-- Logo (English) -->
	{% if lang == "en" %}
		<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<!-- Logo (Japanese) -->
	{% else %}
		<a href="{{ "ja" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	{% endif %}
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% for page in site.pages %}
			<!-- Home (English) -->
			{% if lang == "en" %}
				{% if page.layout == "home" %}
					{% unless page.url contains "/ja/" %}
						<li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
					{% endunless %}
				{% endif %}
			<!-- Home (Japanese) -->
			{% else %}
				{% if page.layout == "home" %}
					{% if page.url contains "/ja/" %}
						<li><a href="{{ "ja" | absolute_url }}/">{{ page.title }}</a></li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% for page in site.pages %}
			<!-- Non-Home Pages (English) -->
			{% if lang == "en" %}
				{% if page.layout != "home" and page.nav-menu == true %}
					{% unless page.url contains "/ja/" %}
						<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
					{% endunless %}
				{% endif %}
			<!-- Non-Home Pages (Japanese) -->
			{% else %}
				{% if page.layout != "home" and page.nav-menu == true and page.url contains "/ja/" %}
					<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		{% if lang == "ja" %}
			<li><a href="{{ page.url | remove: "ja/" }}" class="button fit">English</a></li>
		{% else %}
			<li><a href="{{ page.url | prepend: "ja" | absolute_url }}" class="button fit">日本語</a></li>
		{% endif %}
	</ul>
</nav>
